@media (min-width: 320px) {
    .popup__close-button_full {
        height: 40px;
        left: 81.46%;
        right: 13.42%;
        top: 113px;
    }
}

@media (min-width: 1280px) {
    .popup__close-button_full {
        height: 30px;
        left: 87.25%;
        right: -2.63%;
        top: 316px;
    }
}