.card__image {
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

@media (min-width: 320px) {
    .card__image {
        max-width: 282px;
        min-height: 282px;
    }
}

@media (min-width: 1024px) {
    .card__image {
        max-width: 300px;
    }
}

@media (min-width: 1280px) {
    .card__image {
        max-width: 282px;
    }
}